.idea
.gradle
build
libs
*.iml
local.properties
localConfig.properties
sample/google-services.json
sample/agconnect-services.json
.fleet
.env
firebase_service_account.json
workflow.secrets
mobile-team-android.jks.asc
sample/mobile-team-android.jks
mobile-team-android.jks
secring.asc.gpg