<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emarsys.mobileengage">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application>

        <service android:name=".service.NotificationHandlerService" />

    </application>

</manifest>
