<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name="com.emarsys.geofence.RegisterGeofencesOnBootCompletedReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <activity
            android:name="com.emarsys.NotificationOpenedActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Translucent"></activity>
    </application>
</manifest>
