<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emarsys.testUtil">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>
        <activity
            android:name=".fake.FakeActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.AppCompat.Light" />
    </application>
</manifest>
