<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emarsys.sample">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.emarsys.sample.SampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.emarsys.sample.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="com.emarsys.service.EmarsysMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!--If you have non-Emarsys related Push use cases,-->
        <!--register your own service instead of EmarsysMessagingService.-->
        <!--For a reference implementation, please take a look at com.emarsys.sample.CustomMessagingService-->
        <!--<service android:name=".CustomMessagingService">-->
        <!--<intent-filter>-->
        <!--<action android:name="com.google.firebase.MESSAGING_EVENT" />-->
        <!--</intent-filter>-->
        <!--</service>-->

        <meta-data
            android:name="com.emarsys.mobileengage.small_notification_icon"
            android:resource="@drawable/notification_icon" />

        <meta-data
            android:name="com.emarsys.mobileengage.notification_color"
            android:resource="@color/colorPrimary" />

    </application>

</manifest>